body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 241, 241);
}
.nav{
    padding: 20px 0;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(3, 0, 7);
}
.nav h2{
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    padding-left: 200px;
}
.nav h2 span{
    color: rgb(252, 22, 148);
}
.nav-link{
    display: flex;
    list-style: none;
    padding-right: 200px;  
}
.nav-link a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    color: rgb(240, 9, 136);
}
.nav-link a:hover{
    color: rgb(2, 0, 12);
    background-color: rgb(244, 244, 247);
    padding: 5px 15px;
    border-radius: 18px;
}
.fa-user{
    color: rgb(240, 9, 136);
    font-size: 25px;
    padding-left: 40px;
}
.fa-right-to-bracket{
    color: rgb(240, 9, 136);
    font-size: 25px;
    padding-left: 60px;
}
.conatiner-1{
     padding-bottom: 500px;
}
.heading-parent{
    display: flex;
    width: 100%;
    margin-bottom: 150px;
}
.container-1-heading{
    width: 50%;
    padding-left: 10%;
    
}
.influ{
    color: rgb(240, 9, 136);
}
.container-1-heading h1{
    font-size: 80px;
    margin-bottom: 0px;
}
.container-1-heading P{
    font-size: 22PX;
    margin-bottom: 60px;
    line-height: 50px;
}
.container-1-heading a{
    text-decoration: none;
    background-color: rgb(240, 9, 136);
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}
.container-1-heading a:hover{
    background-color: rgb(2, 1, 27);
}
.top-camera{
    width: 50%;
    
}
.top-camera img{
    width: 80%;
    padding-left: 50px; 
}
.section-2-logo{
    text-align: center;
    margin-bottom: 150px;
    border-top: 2px solid rgb(223, 220, 220);
    border-bottom: 2px solid rgb(223, 220, 220);
    padding: 50px 0;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;

}
#walmart{
    width: 150px;
}
.section-2-logo img{
    margin-right: 80px;
    width: 130px;
    align-items: center;
}
.section-2-title{
    text-align: center;
    font-size: 40px;
    color: rgb(71, 70, 70);
    margin-bottom: 60px;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    grid-column-gap: 25px;
    margin-left: 10%;
    margin-right: 10%;
    
    
     
}
.tripod img{
    width: 100%;
}
.main-tripod{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 15px 15px rgb(247, 173, 173);
}
.main-tripod img{
    border-radius: 10px;
}
.price{
    font-size: 25px;
}
.details{
    font-size: 25px;
}
.see-more{
    text-align: right;
    font-size: 25px;
    margin-right: 10px;
}
.see-more a{
    text-decoration: none;
    color: rgb(240, 9, 136);
}
.see-more a:hover{
    color: rgb(0, 0, 17);
}
.arrow-see{
    display: flex;
    align-items: center;
    justify-content: right;
}
.see{
    margin-right: 200px;
    font-size: 25px;
    color: rgb(240, 9, 136);
    align-items: center;
}
.con-3-parent{
    display: flex;
    width: 100%;
    align-items: center;
}
.con-3-sec-1{
    width: 50%;
    margin-left: 20px;
}
.con-3-sec-2{
    width: 50%;
    margin-right: 80px;
}
.con-3-sec-1 img{
    width: 600px;
    margin-top: 50px;
    margin-left: 180px;
    border: 3px solid rgb(240, 9, 136);
    border-radius: 20px;
}
.con-3-sec-2 h1{
    font-size: 50px;
}
.con-3-sec-2 p{
    font-size: 20px;
    padding-bottom: 20px;
    line-height: 40px;
    
}
.con-3-sec-2 a{
    text-decoration: none;
    background-color: rgb(240, 9, 136);
    color: white;
    padding: 12px 50px;
}
.con-3-sec-2 a:hover{
    background-color: rgb(2, 1, 27);
}
.footer{
    background-color: rgb(10, 0, 27);
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
    color: white;
}
.footer p{
    font-size: 20px;
}
.fa-star{
    color: rgb(255, 187, 0);
}
.fa-star-half-stroke{
    color: rgb(255, 187, 0);
}
#gray-icon{
    color: rgb(211, 206, 206);
}
.rating-parent{
    display: flex;
    align-items: center;
}
.rating p{
    padding-left: 15px;
    font-size: 20px;
}